{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <br />
    <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary">Ir al panel</a>
</div>
