<!-- BEGIN LOGIN FORM -->
{% block fos_user_content %}
<form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
    <h3 class="form-title font-green">Sign In</h3>
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    {% if error %}
        <div class="alert alert-danger">
            <button class="close" data-close="alert"></button>
            <span> {{ error.messageKey|trans(error.messageData, 'security') }} </span>
        </div>
    {% endif %}

    <div class="form-group">
        <input class="form-control form-control-solid placeholder-no-fix" placeholder="Usuario" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>

    <div class="form-group">
        <input class="form-control form-control-solid placeholder-no-fix" placeholder="Password" type="password" id="password" name="_password" required="required" />
    </div>

    <div class="form-actions">
        <input type="submit" class="btn green uppercase" id="_submit" name="_submit" value="Login" />
        <label class="rememberme check">
        <input type="checkbox" name="_remember_me" value="1" />Remember </label>
        <a href="{{ path('fos_user_resetting_request') }}" id="forget-password" class="forget-password">Forgot Password?</a>
    </div>

    <div class="create-account">
        <p>
            <a href="{{ path('fos_user_registration_register') }}" id="register-btn" class="uppercase">Create an account</a>
        </p>
    </div>
</form>
{% endblock fos_user_content %}