{% trans_default_domain 'FOSUserBundle' %}

<!-- BEGIN FORGOT PASSWORD FORM -->
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <h3 class="font-green">Olvidaste la Contraseña ?</h3>
    <p> Escribe tu dirección de e-mail para resetear tu contraseña. </p>
    <div class="form-group">
        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="E-mail / Usuario" name="email" />
    </div>
    <div class="form-actions">
    	<a href="{{ path('fos_user_security_login') }}" class="btn btn-default">Back</a>
        <button type="submit" class="btn btn-success uppercase pull-right">Enviar</button>
    </div>
</form>
<!-- END FORGOT PASSWORD FORM -->