{% extends 'base.metronic.html.twig' %}

{% block meta_title %}Gestión de noticias{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/assets/apps/css/bootstrap-tagsinput.css') }}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
<ul class="page-breadcrumb">
    <li>
        <a href="{{ path('app_news') }}">Inicio</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{ path('app_news') }}">Listado de Noticias</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="javascript:void(0);">Edición</a>
    </li>
</ul>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-title"> Gestión de noticias</h3>
        </div>    
    </div>
    
    <div class="clearfix"></div>
    
    <br />
    {% if app.session.flashbag.has('status') %}
    <div class="alert alert-block alert-success fade in">
        <button type="button" class="close" data-dismiss="alert"></button>
        {% for message in app.session.flashbag.get('status') %}
            <p><strong>{{ message }}</strong></p>
        {% endfor %}
    </div>
    {%endif%}

    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-settings font-dark"></i>
                <span class="caption-subject font-dark sbold uppercase">Editar</span>
            </div>
        <div class="actions">
            <div class="btn-group btn-group-devided">
                <a class="btn green btn-sm active" href="{{ path('app_news') }}" >Vista previa</a>
                <a class="btn blue btn-sm active" href="{{ path('app_news') }}" >Regresar al listado</a>
            </div>
        </div>
        </div>
        <div class="portlet-body form">
        {% form_theme form_view 'bootstrap_3_horizontal_layout.html.twig' %}
        {{form_start (form_view, {'enctype': 'multipart/form-data', 'action' : '' , 'method' : 'POST'}) }}
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                {{ form_widget(form_view.active) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form_view.idNewsCategories) }}
                <div class="col-sm-10">{{ form_widget(form_view.idNewsCategories) }}</div>
            </div>
            <div class="form-group">
                {{ form_label(form_view.publishDate) }}
                <div class="col-sm-10">{{ form_widget(form_view.publishDate) }}</div>
            </div>
            <div class="form-group">
                {{ form_label(form_view.sheduleDate) }}
                <div class="col-sm-10">{{ form_widget(form_view.sheduleDate) }}</div>
            </div>
            <div class="form-group">
                {{ form_label(form_view.title) }}
                <div class="col-sm-10">{{ form_widget(form_view.title) }}</div>
            </div>
            <div class="form-group">
                {{ form_label(form_view.slug) }}
                <div class="col-sm-10">{{ form_widget(form_view.slug) }}</div>
            </div>
            <div class="form-group">
                {{ form_label(form_view.editor) }}
                <div class="col-sm-10">{{ form_widget(form_view.editor) }}</div>
            </div>
            <div class="form-group">
                {{ form_label(form_view.resume) }}
                <div class="col-sm-10">{{ form_widget(form_view.resume) }}</div>
            </div>
            <div class="form-group">
                {{ form_label(form_view.content) }}
                <div class="col-sm-10">{{ form_widget(form_view.content) }}</div>
            </div>
            <div class="form-group">
                {{ form_label(form_view.image) }}
                <div class="col-sm-10">{{ form_widget(form_view.image) }}</div>
            </div>
            <div class="form-group">
                {{ form_label(form_view.tags) }}
                <div class="col-sm-10">{{ form_widget(form_view.tags) }}</div>
            </div>
            <div class="form-group">
                <div class="col-sm-12 text-right">
                    <button type="submit" class="btn btn-lg green">Guardar</button>
                </div>
            </div>
        {{form_end(form_view) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script src="/assets/apps/scripts/bootstrap-tagsinput.js"></script>
<script>
    $(document).ready(function(){
        function string_to_slug(str) {
          str = str.replace(/^\s+|\s+$/g, ''); // trim
          str = str.toLowerCase();

          // remove accents, swap ñ for n, etc
          var from = "àáäâèéëêìíïîòóöôùúüûñç·/_,:;";
          var to   = "aaaaeeeeiiiioooouuuunc------";
          for (var i=0, l=from.length ; i<l ; i++) {
            str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
          }

          str = str.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
            .replace(/\s+/g, '-') // collapse whitespace and replace by -
            .replace(/-+/g, '-'); // collapse dashes

          return str;
        }

        $("#panel_apps_newsbundle_news_title").keyup(function(){
           //alert($(this).val());
           $("#panel_apps_newsbundle_news_slug").val(string_to_slug($(this).val()));
        });
        
        $('#panel_apps_newsbundle_news_tags').tagsinput({
          trimValue: true,
          cancelConfirmKeysOnEmpty: true,
          maxTags: 10,
          tagClass: 'label label-danger',
          confirmKeys: [13, 44, 32]
        });
    });
</script>
{% endblock %}