{% extends 'base.metronic.html.twig' %}

{% block meta_title %}Gestión de noticias{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
<ul class="page-breadcrumb">
    <li>
        <a href="index.html">Inicio</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{ path('app_news') }}">Noticias</a>
    </li>
</ul>
{% endblock %}


{% block body %}
    <h3 class="page-title"> Gestión de noticias</h3>

        <div class="clearfix"></div>
    
    <br />
    {% if app.session.flashbag.has('status') %}
    <div class="alert alert-block alert-success fade in">
        <button type="button" class="close" data-dismiss="alert"></button>
        {% for message in app.session.flashbag.get('status') %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    {%endif%}

    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-feed font-white"></i>
                <span class="caption-subject font-green bold">Listado de noticias</span>
            </div>
            <div class="actions">
                <div class="btn-group btn-group-devided">
                    <a class="btn grey-salsa btn-sm active" href="{{ path('app_news_add') }}" >Nueva Noticia</a>
                </div>
            </div>
        </div>
        <div class="portlet-body">
            <div class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light">
                    <thead>
                        <tr class="uppercase">
                            <th class="col-xs-1"> # </th>
                            <th class="col-xs-4"> Título </th>
                            <th class="col-xs-1 hidden-xs"> Autor </th>
                            <th class="col-xs-2"> Categoría </th>
                            <th class="col-xs-1 hidden-xs"> Fecha de publicación </th>
                            <th class="col-xs-1"> Estado </th>
                            <th class="col-xs-2 text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for new in news %}
                        <tr>
                            <td> {{ new.id }} </td>
                            <td> {{ new.title }} </td>
                            <td class="hidden-xs"> {{ new.editor }} </td>
                            <td> {{ new.NewsCategories.name }} </td>
                            <td class="hidden-xs"> {{ new.PublishDate|date("m/d/Y", false) }} </td>
                            <td>
                            {% if new.active == 1 %}
                                <span class="label label-sm label-success"> Activa </span>
                            {% else %}
                                <span class="label label-sm label-warning"> Inactiva </span>
                            {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('app_news_delete', { 'id' : new.id }) }}" class="btn btn-sm btn-danger btn_delete"> Borrar </a> &nbsp;
                                <a href="{{ path('app_news_edit', { 'id' : new.id }) }}" class="btn btn-sm btn-info"> Editar </a> &nbsp;
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>                
{% endblock %}

{% block javascripts %}
    <script src="/assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
            $('.btn_delete').on('click', function(){
                    var link = $(this).attr("href");
                    bootbox.confirm({
                        title:   "Borrar Noticia",
                        message: "La noticia se borrará y no podrá recuperarse. ¿Seguro que desea continuar?",
                        buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-danger'
                            }
                        },
                        callback: function (result) {
                            if(result == 1){
                                document.location.href = link;
                            }
                            
                        }
                    });
                return false;
            });
        });
    </script>
{% endblock %}